<% provide(:title, t('user.titles.list')) %>
<h1><%= t('user.headers.list') %></h1>

<ul class="users">
  <% @users.each do |user| %>
  <li>
    <%= link_to user.name, user %>
    <%= User::TYPE_TO_TYPE_NAME[user.user_type] %>
  </li>
  <% end %>
</ul>
